.nav{
    margin: 0;
    padding:0;
      
}


.navigation{
    // padding: 2em;
    // border-bottom: 2px solid red;
     width: 100%;
     margin: 2em 4em;

}

.nav-link{
    //  padding: 2em;
     color: black;
     font-size: 1.25rem;
     text-decoration: none;
     opacity: 0.5;
    font-weight: bold;
    margin: 2em 4em;
 


}

.nav-link:hover{
      opacity: 1;
}
